[Unit]
Description=Frame-Go Application
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi
Environment=DISPLAY=:0
ExecStart=/home/pi/photo-frame
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
