[Unit]
Description=Frame-Go Application
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi
Environment=DISPLAY=:0
Environment=S3_BUCKET_NAME=your-bucket-name
Environment=AWS_ACCESS_KEY=access-key
Environment=AWS_SECRET_KEY=secret-key
ExecStart=/home/pi/photo-frame
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
