[Unit]
Description=Domino Frame Application
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi
Environment=DISPLAY=:0
Environment=R2_BUCKET_NAME=your-bucket-name
Environment=R2_ACCESS_KEY=access-key
Environment=R2_SECRET_KEY=secret-key
Environment=CF_ACCOUNT_ID=cf-account-id
ExecStart=/home/pi/photo-frame
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
